<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Bookstore - books with full data</title>  
    <link rel="stylesheet" type="text/css" href="/static/style_book_names.css">
  </head>

  <body class="screen">
    <div class="container">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Category</th>
            <th>Publisher</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <% books.forEach( (element, index) => { %>
            <tr>
              <td>
                <%= index + 1 %>
              </td>
              <td>
                <%= element.book_name %>
              </td>
              <td>
                <%= element.aut_name %>
              </td>
              <td>
                <%= element.cate_descrip %>
              </td>
              <td>
                <%= element.pub_name %>
              </td>
              <td>
                <%= element.book_price %>
              </td>
            </tr>
            <% }); %>
        </tbody>
      </table>
    </div>
  </body>

</html>